@import "tailwindcss";
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}


/* Or better: use overflow-x: clip (modern) */
* {
  box-sizing: border-box;
}






